@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
    --cor-primaria: #3616add2;
    --cor-secundaria: #3d3fd89c;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(/assets/nuvenss.jpg);
    color: #fffbfb;
    text-align: center;
    box-sizing: border-box;
    font-family: "Press Start 2P", system-ui;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

}

.cabecalho {
    background-image: url(/assets/nuvenss.jpg);
    padding: 2%;
    color: #fffbfb;    
}

.cabecalho_menu_link {
   display: flex;
   justify-content: space-around;
   align-items: center;
   text-decoration: none;
   width: 200px;
   background-color: var(--cor-primaria);
   padding: 15px 15px 15px 15px;
   color: white;
}

.texto_eu {
    flex-direction: column;
    display: flex;
    gap: 30px;
    font-size: large;
    width: 80%;
    align-items: center;
}

.apresentacao {
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 30px;
}

strong {
    color: #16e1f0;
    font-weight: bold;
    font-size: larger;
}

.apresentacao_sobre {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.sobre-mim {
    justify-content: center;
    text-align: left;
    color: #fdfdfd;
    font-weight: bold;
    font-size: larger;
    font-family: "Press Start 2P", system-ui;
    font-weight: 300;
    font-style: normal;

}

.titulo {
    color: var(--cor-terciaria);
}

.jornada-programacao {
    text-align: left;
    color: #fdfdfd;
    font-size: larger;

}

.eu-sjj {
    width: 300px;
    border: solid var(--cor-primaria) 10px;
    border-radius: 30px;
}

.apresentacao_links {
    display: flex;
    justify-content: space-between;
}

.apresentacao_links_link {
    gap: 15px;
    background-color: var(--cor-secundaria);
    justify-content: center;
    display: flex;
    background-color: 442BA8;
    color: #fdfdfd;
    width: 200px;
    border-radius: 15px;
    font-size: larger;
    font-weight: 600;
    padding: 22px 0;
    text-decoration: none;
    align-items: center;
}

.front_end {
    color: #0400ff;
}

.link_icon {
    width: 32px;
}

a:hover {
    background-color: var(--cor-primaria);
}

.rodape {
    justify-content: space-between;
    color: #fdfdfd;
    background-color: var(--cor-primaria);
    padding: 30px;
    margin-top: 30px;
    width: 100%;

}

.apresentacao_links {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

@media (max-width: 720px) {
    .eu-sjj {
        width: 90%;
    }

    .apresentacao_sobre {
        width: 90%;
        flex-direction: column;
        display: flex;
    }
}

.sobre_eu {

        flex-direction: column;
        display: flex;
        gap: 30px;
        font-size: medium;
        justify-content: space-between;
        align-items: center;
}
    
.eu_sjj3 {
    width: 300px;
    border: solid var(--cor-primaria) 10px;
    border-radius: 30px;
    gap: 15px;
}
.gatobotao {
    background-color: var(--cor-primaria);
    justify-content:center;

}