@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    display: block;
    background-color: #830d56d2;
    color: black;
    text-align: center;
    box-sizing: border-box;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

.cabecalho {
    padding: 2% 0 0 0;
    color: #fdfdfd;
    background-color: #640eb4;
}

.cabecalho_menu {
    display: flex;
    justify-content: space-around;
    padding: 15;
    gap: 80px;
}

.apresentacao {
    justify-content: center;
    flex-direction: column;
    display: flex;
    height: 100vh;
    align-items: center;
    gap: 15px;
}

strong {
    color: #16e1f0;
    font-weight: bold;
    font-size: larger;
}

.sobre-mim {
    justify-content: center;
    text-align: left;
    color: #000000;
    font-weight: bold;
    font-size: larger;
    font-family: "Press Start 2P", system-ui;
    font-weight: 300;
    font-style: normal;

}

.titulo {
    color: #5216F0;
}

.jornada-programacao {
    text-align: left;
    color: #000000;
    font-weight: bold;
    font-size: larger;

}

.eu-sjj {
    height: 400px;
    border: solid #4a0681d2 20px;
    border-radius: 50px;
    padding: 0 0 0 0;
}

.apresentacao_sobre {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.apresentacao_links {
    display: flex;
    justify-content: space-between;
}

.apresentacao_links_link {
    justify-content: center;
    display: flex;
    background-color: 442BA8;
    color: #fdfdfd;
    width: 200px;
    text-align: center;
    border-radius: 15px;
    font-size: larger;
    font-weight: 600;
    padding: 22px 0;
    text-decoration: none;
    align-items: center;
}

.front_end {
    color: #0400ff;
}

.link_icon {
    width: 32px;
}

a:hover {
    background-color: #640eb4;
}

.rodape {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    padding: 24px;
    color: #000000;
    background-color: #5216F0;
}

.apresentacao_links {
    display: flex;
    gap: 25px;
    justify-content: space-between;
}