@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
    --cor-primaria: #a12471d2;
    --cor-secundaria: #7a369957;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-secundaria);
    color: #fffbfb;
    text-align: center;
    box-sizing: border-box;
    font-family: "Press Start 2P", system-ui;
}

.cabecalho {
    padding: 2% 0 0 0;    
    background-color:  var(--cor-primaria);
}

.cabecalho_menu {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    gap: 15px;
}
.cabecalho_menu_link {
    text-decoration: none;
    color: #fdfdfd;
}

.apresentacao {
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 30px;
}

strong {
    color: #16e1f0;
    font-weight: bold;
    font-size: larger;
}

.apresentacao_sobre {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.sobre-mim {
    justify-content: center;
    text-align: left;
    color: #fdfdfd;
    font-weight: bold;
    font-size: larger;
    font-family: "Press Start 2P", system-ui;
    font-weight: 300;
    font-style: normal;

}

.titulo {
    color: var(--cor-terciaria);
}

.jornada-programacao {
    text-align: left;
    color: #fdfdfd;
    font-weight: bold;
    font-size: larger;

}

.eu-sjj {
    height: 300px;
    border: solid var(--cor-primaria) 20px;
    border-radius: 50px;
    padding: 0 0 0 0;
}

.apresentacao_links {
    display: flex;
    justify-content: space-between;
}

.apresentacao_links_link {
    justify-content: center;
    display: flex;
    background-color: 442BA8;
    color: #fdfdfd;
    width: 200px;
    border-radius: 15px;
    font-size: larger;
    font-weight: 600;
    padding: 22px 0;
    text-decoration: none;
    align-items: center;
}

.front_end {
    color: #0400ff;
}

.link_icon {
    width: 32px;
}

a:hover {
    background-color: var(--cor-primaria);
}

.rodape {
    padding: 24px;
    color: #fdfdfd;
    background-color: var(--cor-primaria);
    padding: 30px;
    margin: 10px;
}

.apresentacao_links {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

@media (max-width: 150px) {
    .eu-sjj {
        width: 50%;
    }
    .apresentacao_sobre {
        width: 50%;
    }
}
@media (max-width: 720px) {
    .eu-sjj {
        width: 300px;
    }
    
}
.texto_eu {
    
    
}
